main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 50px;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
}

.search-container {
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding: 1px;
  width: fit-content;
}

.search-container-article > div > i {
  margin: 5px;
}

.search-container-article > div > input {
  height: 30px;
  border: none;
  width: 400px;
}

.choose-your-master-article ul {
  list-style-type: none;
  padding: 0;
}

.choose-your-master-article > ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.choose-your-master-article > ul > li {
  margin-right: 16px;
  grid-column: span 2;
}

.choose-your-master-article li {
  margin-bottom: 8px;
  font-size: 14px;
}

.choose-your-master-article a {
  overflow: hidden;
  height: 200px;
}

.choose-your-master-article img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  object-position: top;
}

.choose-your-master-article > ul > li > ul > li:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
}

.choose-your-master-input {
  display: none; /* 기본 라디오 버튼 숨기기 */
}

.choose-master-label {
  display: inline-block;
  padding: 8px 16px;
  width: 100%;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

#master-list {
  background: white;
}

.choose-your-master-input:checked + label {
  background-color: red;
  border-color: red;
}

.choose-master-label:hover {
  background-color: green;
  border-color: green;
}

.ask-your-master-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-between;
  flex: 1;
}

.message-input-label, .search-label, .message-form > h3, .choose-your-master-article > section > h3, header > h2, .chat-history-section h2 {
  position: absolute;
  left: -9999px; /* 화면 밖으로 이동시켜 시각적으로 숨김 */
  clip: rect(0, 0, 0, 0); /* 시각적으로 보이지 않게 함 */
  clip-path: inset(50%); /* 추가적인 호환성을 위한 클리핑 */
  overflow: hidden; /* 오버플로우 숨기기 */
  height: 1px; /* 높이 1px 설정 */
  width: 1px; /* 너비 1px 설정 */
}

.chat-history-section {
  flex-direction: column;
  justify-content: end;
  margin-top: 150px;
  margin-bottom: 60px;
  flex: 1;
}

.chat-history-section h2 {
  margin: 10px;
  background-color: white;
}

.chat-history-section > div {
  display: flex;
  text-align: left;
}

.client-chat-history {
  display: flex;
  justify-content: right;
}

.master-chat, .client-chat {
  flex: 1;
  white-space: pre-wrap;
  margin: 10px 0;
}

.client-chat {
  text-align: right;
}

.client-chat-history i {
  display: flex;
  font-size: 36px;
  margin-left: 10px;
  margin-top: 8px;
}

.master-chat-history > p, client-chat-history > p {
  margin-left: 46px;
}

.message-form {
  display: flex;
  justify-content: end;
  position: fixed;
  padding: 10px;
  background-color: white;
  bottom: 0;
  left: 20%;
  right: 20%;
}

.message-form input {
  flex: 1;
  height: 35px;
  background-color: #F3F4F6;
  border: none;
  padding: 12px;
}

.message-form button {
  height: 36px;
  width: 36px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.message-form button:hover {
  background-color: blue;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 20%;
  right: 20%;
  background-color: white;
}

.master-icon {
  height: 36px;
  width: 36px;
  border-radius: 30px;
  margin-right: 10px;
}

.selected-master {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  list-style-type: none;
}

.selected-master li:first-child {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

